table, tr, td {
    border: 1px solid black;
}

td {
    width: 50px;
    height: 50px;
    position: relative;
    background: #ffd4ae;
    /* border: 1px solid black; */
}


.black {
    background: black;
}

.white {
    background: white;
}

.select_checker_true {
    opacity: 0.5;
}

.select_checker {
    opacity: 0.7;
}


#game > table{
    margin: 0 auto;
}



.cell {
    background: #dfdfdf;
    width: 25px;
    height: 25px;
  }
  
.blue {
    background: blue;
  }
  
.red {
    background: red;
  }



.info_game {
    width: 450px;
    margin: 0 auto;
    border: 1px solid black;
}
.info_game > h1 {
    text-align: center;
}
.info_game > button {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 40px;
}