table, tr, td {
    border: 1px solid black;
}

td {
    width: 50px;
    height: 50px;
    position: relative;
    background: #ffd4ae;
    /* border: 1px solid black; */
}




#game > table tr:nth-child(odd) td:nth-child(even) {
	background-color: #cccccc;
}	
#game > table tr:nth-child(even) td:nth-child(odd) {
	background-color: #cccccc;;
}
.black {
    background-image: url(../img/black.png) !important;
    background-size: 45px 45px;
    background-position: center;
    background-repeat: no-repeat;
}


.white {
    background-image: url(../img/white.png) !important;
    background-size: 45px 45px;
    background-position: center;
    background-repeat: no-repeat;
}

.select_checker_false {
    /* background: #cccccc; */
    opacity: 0.3;
}

.select_checker {
    opacity: 0.7;
}


#game > table{
    margin: 0 auto;
}

.cell {
    background: #dfdfdf;
    width: 25px;
    height: 25px;
  }
  
.blue {
    background: blue;
  }
  
.red {
    background: red;
  }



.info_game {
    width: 450px;
    margin: 0 auto;
    border: 1px solid black;
}
.info_game > h1 {
    text-align: center;
}
.info_game > button {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 40px;
    color: #a30000;
}